.recommended-flex {
  display: flex;
    margin-left: 20rem;
    align-items: baseline;
    justify-content: flex-start;
    gap: 2px;
    flex-direction: row;
}

.recommended-title {
  margin-left: 20rem;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
}
@media (max-width: 768px) {
  .recommended-flex {
    margin-left: 0;
    justify-content: center;
    flex-wrap: wrap;
  }

  .recommended-title {
    margin-left: 0;
    text-align: center;
  }
}