* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}

li {
  list-style: none;
}
body{
  background: linear-gradient(130deg , red,blue);
}
@media (max-width: 768px) {
  /* Add responsive styles here */
  body {
    font-size: 14px;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }
}
